.connectServerContainerOn {
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 3%;
  right: 14%;
  background-color: green;
  transition: 3s;
}

.connectServerForm {
  display: flex;
  flex-direction: column;
}

.closeIcon {
  font-size: 24px;
}
