.connectServerContainer {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 3s;
}

.connectServerContainerOn {
  transition: 3s;
  width: 300px;
  background-color: red;
}

.closeIcon {
  font-size: 24px;
}
